body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.logo {
    font-size: 1.5rem;
    padding-left: 20px;

}

.logo img {
    font-size: 1.5rem;
    width: 70px;
}

.navbar {
    display: flex;
    align-items: center;
    
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hamburger-menu {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

/* NAV BAR END */

.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.hero-section {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-img-container {
    height: 550px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-img {
    border-radius: 20px;
    width: 60%;
    
}

.header-headline h1 {
    font-size: 2.5em;
    padding: 20px 20px 20px 0px;
}

.header-headline p {
    align-self: flex-end;
    padding: 20px 0px 20px 20px;
}


.header-headline {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.header-exp1 {
    height: 25%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
}

.header-about-text {
    display: flex;
    flex-direction: column;
    padding: 65px;
    width: 80%;
    justify-content: center;
    justify-content: space-around;
}

.about-p {
    font-size: 1.4em;
}


.header-exp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 0 0;

}

.header-exp h2 {
    margin: 10px 0 0 0 ;
    font-size: 2.5em;
    width: 70px;
}

.header-exp p {
    margin: 10px 0 0 0 ;
    width: 70px;
}

.testimonial-section {
    background-color: #141414;
    color: white;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.testimonial-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-box {
    padding: 60px 0 60px 0;
    width: 90%;
    
    
}

.testimonial-img-container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-box h2{
    width: 70%;
    font-size: 2em;

}

.testimonial-box p {
    font-size: 1.4em;
}

.testimonial-img {
    width: auto;
    border-radius: 100px;
    height: 274px;
}





footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 

}

footer div {
    max-width: 1440px;
    
}

footer a {
    color: white;
    padding: 20px;
}






/* Responsive styles */
@media only screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        padding: 15px 0;
        width: 100%;
    }
    
    .logo img {
        padding: 0;
        width: 10%;
    }

    .hamburger-menu {
        display: block;
    }
    

    .header-headline{
        text-align: center;
        flex-direction: column;
        padding-left: 3px;
        padding-right: 3px;
    }

    .header-headline h1{
        padding-right: 0;
        padding-left: 40px;
        font-size: 1.7em;
        align-self: flex-start;

    }

    .header-about-text {
        width: 100%;
        padding: 0%;
        justify-content: center;
        align-items: center;
    }

    .about-p {
        width: 80%;
        text-align: left;
    }

   

    .header-headline p{
        
        padding: 10px 3px 10px 3px;
    }

    .header-exp {
        width: 80%;
        flex-wrap: wrap;
    }

    .hero-section {
        width: 100%;
    }

    .hero-container {
        flex-direction: column;
        width: 100%;
    }

    .hero-img {
        border-radius: 100px;
        margin-top: 0;
    }

    .hero-img-container {
        height: auto;
        width: 100%;
        border-radius: 0px;
    }

    .testimonial-container {
        flex-direction: column-reverse;
        padding-top: 70px;
    }

    .testimonial-box {
        justify-content: center;
        align-items: center;
    }

    .testimonial-box h2 {
        width: 100%;
    }

    .testimonial-img {
        height: 200px;
    }



    footer a {
        padding: 5px;
    }

}


