body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.logo {
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hamburger-menu {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

/* NAV BAR END */


/* Apply general styles to the form container */
.contact-container {
    width: 50%;
    margin: 50px 0;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.contact-container form {
    width: 50%;
}

/* Style the form heading */
.contact-container h2 {
    color: #333;
    text-align: center;
}

/* Style the form labels */
.contact-container label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

/* Style the form input fields */
.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the form button */
.contact-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
}

.contact-container div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add hover effect to the button */
.contact-container button:hover {
    background-color: #2980b9;
}

/* Style the form HR line */
.contact-container hr {
    margin: 20px 0;
    border: 0.5px solid #ddd;
}


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    position: fixed;
    bottom: 0;

}

footer div {
    max-width: 1440px;
    
}

footer a {
    color: white;
    padding: 20px;
}






/* Responsive styles */
@media only screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        padding: 15px 0;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
    }


    .contact-container{
        width: 100%;
        padding: 0px;
       
    }

    .contact-container form {
        width: 80%;
    }

    footer a {
        padding: 5px;
    }

}


